  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :phone, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :phone, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :dob, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :dob, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :sex, "Gender", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :sex, [["Male", "Male"], ["Female", "Female"]], { prompt: "Please Select" }, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :state, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :state, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :country, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :country, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :facility_of_residents, "Facility of Residence", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :facility_of_residents, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :medicaid_number, "Medicaid Number", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :medicaid_number, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :medicaid_case_worker, "Name of Medicaid Representative", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :medicaid_case_worker, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :ss_number, "Social Security Number", class: "col-sm-2 control-label" %>
    <div class="col-sm-10 ss-number">
      <%= f.text_field :ss_number1, class: "form-control ss-number1" %> - <%= f.text_field :ss_number2, class: "form-control ss-number2" %> - <%= f.text_field :ss_number3, class: "form-control ss-number3" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :address, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :communication_preference, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :communication_preference, [["Email", "email"], ["Facility", "facility"], ["Mail", "mail"]],
          { prompt: "Please Select" }, class: "form-control" %>
    </div>
  </div>

  <p class="plan-description">Company is hereby authorized to enroll the above applicant in Dentsured Plan A B C C+ (circle requested Plan) and to bill the corresponding Premium as listed below on a monthly basis directly to the patient trust account or to authorized agent, and to adjust the patient pay liability accordingly.</p>
  
  <div class="form-group">
    <%= f.label :plan, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :plan, Applicant::PLAN_LIST.invert.to_a,
          { prompt: "Please Select" }, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :primary_dentist_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :primary_dentist_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :primary_dentist_telephone, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :primary_dentist_telephone, class: "form-control" %>
    </div>
  </div>
