<div class="row">
  <div class="col-sm-12">
    <h2>Signup <%= @applicant.name %></h2>
  </div>
</div>

<%= form_for @applicant, html: { class: "form-horizontal edit-applicant" } do |f| %>

  <%= render 'form', f: f %>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <%= link_to "Cancel", :back, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
