<div class="row">
  <div class="col-sm-12">
    <h2>Please fill out the following information to sign up for Dentsured. The policy
does not take effect immediately, until you are contacted by one of our sales representatives to
complete the contract</h2>
  </div>
</div>

<%= form_for @applicant, html: { class: "form-horizontal" } do |f| %>

  <%= render 'form', f: f %>
  <%= hidden_field_tag :unlisted_applicant, params[:unlisted_applicant] %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <%= f.submit "Cancel", type: "reset", class: "btn btn-primary", "data-confirm" => "Are you sure?" %>
    </div>
  </div>
<% end %>
