<div class="row">
  <div class="col-sm-12">
    <h2>Applicant Profile</h2>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @applicant.name %></dd>
  
  <dt>Email</dt>
  <dd><%= @applicant.email %></dd>

  <dt>Date of Birth</dt>
  <dd><%= @applicant.dob %></dd>

  <dt>Sex</dt>
  <dd><%= @applicant.sex %></dd>

  <dt>State</dt>
  <dd><%= @applicant.state %></dd>

  <dt>Country</dt>
  <dd><%= @applicant.country %></dd>

  <dt>Facility of Residents</dt>
  <dd><%= @applicant.facility_of_residents %></dd>

  <dt>Medicaid Number</dt>
  <dd><%= @applicant.medicaid_number %></dd>

  <dt>Medicaid Case Worker</dt>
  <dd><%= @applicant.medicaid_case_worker %></dd>

  <dt>SS Number</dt>
  <dd><%= @applicant.ss_number %></dd>

  <dt>Address</dt>
  <dd><%= @applicant.address %></dd>

  <dt>Phone</dt>
  <dd><%= @applicant.phone %></dd>

  <dt>Authorized Agent</dt>
  <dd><%= @applicant.agent.name %></dd>
  
  <% if @applicant.applicant_signature.try(:image).present? %>
    <dt>Signature</dt>
    <dd><%= image_tag @applicant.applicant_signature.image.url %></dd>
  <% end %>
</dl>

<div class="row">
  <%= link_to "PDF Report", pdf_report_applicant_path(@applicant), class: "btn btn-primary" %>
  <%= link_to "Applicant's Signature", edit_applicant_path(@applicant), class: "btn btn-primary" %>
  <%= link_to "Back", applicants_path, class: "btn btn-primary" %>
</div>
